[Output]

# You must choose either matplotlib for a graph or csv for a.. well.. csv file..
outputType = matplotlib
outputFileName = testme.png

#outputType = csv
#outputFileName = mycsv.csv


[matPlotLib]
# This will come later maybe

[Run]
# For any species listed on this line there must be a corresponding entry for it below with z, nucleons, etc..
# It was easier to program this way AND you don't have to comment out species you want to keep!
# I hope you have a non-frustrating day!

# speciesList should be comma separated
speciesList = Sb51

#This will be the order it runs the beams, note it runs these sequentially
beamList = BeamAndTrap, BeamAndTrap2

#this doesn't exist yet..
autoOptimizer = off
optimizeChargeState = 49

[BeamAndTrap]
beamEnergy = 60000
breedingTime = 30
probeEvery = 0.001
ionEbeamOverlap = 1.0
beamCurrent = .02
beamRadius = 90.0e-4
pressure = 1e-11
ionTemperature = 100.0

# ONLY THE BEAM ENERGY AND BREEDING TIME ARE ADJUSTED IN SUBSEQUENT ENTRIES, the rest are dummy parameters for anything besides the first beam in beamList
[BeamAndTrap2]
beamEnergy = 1000
breedingTime = 10
probeEvery = 0.001
ionEbeamOverlap = 1.0
beamCurrent = .02
beamRadius = 90.0e-4
pressure = 1e-10
ionTemperature = 100.0

[Sb51]
z = 51
nucleons = 129
chargeStates =  48, 49, 50
populationPercent = 1.0


